@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat-Regular.ttf");
}
.navbar {
  display: grid;
  height: 120px;
  grid-template-columns: 100px 1fr;
  align-content: center;
  border-bottom: 1px solid rgb(43, 43, 43);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1A1B1C;
  gap: 10px;
}

.navbar-brand {
  display: flex;
  font-family: "Caveat";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
}

.navbar-brand span:first-child {
  font-family: "Righteous";
  background-color: #b22222;
  padding: 4px 7px;
}

.navbar-links {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-left: 1px solid rgb(43, 43, 43);
}

.navbar-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #b22222;
}
.navbar-cta{
  display: flex;
  align-items: center;
  justify-content: right;
}
.navbar-cta button {
  font-family: "Righteous";
  padding: 0.5rem 1rem;
  background-color: #b22222;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-cta button:hover {
  background-color: #f0f0f0;
  color: #b22222;
}

@media (max-width: 768px) {
  .navbar {
    height: 60px;
    grid-template-columns: 70px 1fr;
  }
  .navbar-brand {
    font-size: 1rem;
  }
  .navbar-links{
    gap: 0.5rem;
    height: 60px;
    justify-content: space-around;
  }
  .navbar-links a{
    font-size: 0.6rem;
    font-weight: normal;
  }
  .navbar-cta button {
    font-size: 0.6rem;
    font-weight: normal;
  }
}