@font-face {
    font-family: "Righteous";
    src: url("fonts/Righteous-Regular.ttf");
  }
  @font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
  }
  @font-face {
    font-family: "Caveat";
    src: url("fonts/Caveat-Regular.ttf");
  }