/* CSS - Flexbox, Grid y Centrado */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f0f0f0;
}
/* Flexbox */
.flex {
  display: flex;
}

.pd-1{
  padding: 1rem;
}
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

/* Grid */
.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-auto-cols{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;
}
@media (max-width: 767px) {
  .grid-auto-cols {
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
  }
}

/* Centrado */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}