.app, body{
  background-color: #171818;
  font-family: "Raleway";
}
.red-tag{
  background-color: #b22222;
}

header{
  width: 100%;
  min-height: 80vh;
}
@media (max-width: 768px) {
  header{
    text-align: center;
  }
  h1{
    font-size: 1.1rem;
  }
}